.grid-33
        .app--section
            ul.app--user--list
                mixin appUserList(avatar, img, name, userName, buttonText)
                    li
                        .circle--fluid
                            .circle--fluid--cell.circle--fluid--primary
                                a.app--tweet--author
                                    .app--avatar(style= avatar)
                                        img(src= img)
                                    h4= name
                                    p= userName
                            .circle--fluid--cell
                            if buttonText === 'Unfollow'
                                a.button.button-text= buttonText
                            else
                                a.button= buttonText
                
                +appUserList('background-image: url(static/images/f-spore.png)', 'static/images/f-spore.png', 'Jill Spore', '@jillspore', 'Unfollow')
                +appUserList('background-image: url(static/images/f-spore.png)', 'static/images/f-spore.png', 'Jill Spore', '@jillspore', 'Unfollow')
                +appUserList('background-image: url(static/images/f-spore.png)', 'static/images/f-spore.png', 'Jill Spore', '@jillspore', 'Unfollow')
                +appUserList('background-image: url(static/images/f-spore.png)', 'static/images/f-spore.png', 'Jill Spore', '@jillspore', 'Follow')
                +appUserList('background-image: url(static/images/f-spore.png)', 'static/images/f-spore.png', 'Jill Spore', '@jillspore', 'Unfollow')