.grid-33
        .app--section
            ul.app--user--list
                each friend in ifData.friendInfo
                    li
                        .circle--fluid
                            .circle--fluid--cell.circle--fluid--primary
                                a.app--tweet--author
                                    .app--avatar(style=`background-image: url(${friend.profilePic})`)
                                        img(src= friend.profilePic)
                                    h4= friend.name
                                    p= friend.userName
                            .circle--fluid--cell
                                if friend.following === true
                                    a.button.button-text Unfollow
                                else
                                    a.button Follow
                