.grid-33
        .app--section
            ul.app--user--list
                mixin appUserList(index)
                    li
                        .circle--fluid
                            .circle--fluid--cell.circle--fluid--primary
                                a.app--tweet--author
                                    .app--avatar(style=`background-image: url(${friendInfo[index].profilePic})`)
                                        img(src= friendInfo[index].profilePic)
                                    h4= friendInfo[index].name
                                    p= friendInfo[index].userName
                            .circle--fluid--cell
                            if friendInfo[index].following === true
                                a.button.button-text Unfollow
                            else
                                a.button Follow
                
                +appUserList(0)
                +appUserList(1)
                +appUserList(2)
                +appUserList(3)
                +appUserList(4)
                