extends layout.pug

block main
    include includes/header.pug
    .bounds.app--body
        .app--section--header
            .error 
                h3= error.message
                p= error.status
                p= error.stack
            