include includes/header.pug
include includes/tweetbar.pug

.bounds.app--body
    .app--section--header

        mixin appSectionHeader(heading, number)
            .grid-33
                .app--section--heading
                    strong= number
                    h2= heading
        
        +appSectionHeader('Timeline')
        +appSectionHeader('Following', ifData.userInfo.friendsCount)
        +appSectionHeader('Direct Messages')
            
    include includes/timeline.pug
    include includes/following.pug
    include includes/directmessages.pug

script(src="/socket.io/socket.io.js")