doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Twitter Client
        meta(name="description", content="Twitter Client Interface")
        meta(name="author" content="Kate Ross")

        <!-- Mobile Specific Metas  -->
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        <!-- FONTS  -->
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')

        <!-- CSS  -->
        link(rel="stylesheet" href="static/stylesheets/global.css")

        body
            block main
            script(src="/socket.io/socket.io.js")